<!DOCTYPE html>
<html lang="br">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeLeaf.org"
<head>
    <meta charset="ISO-8859-1">
    <title>Lojas Isa</title>
</head>
</html>
<body>
   Cadastro Vendedores
   <table class="table table-sm table table-striped table-hover table-bordered">
	  					<thead>
							 <tr>
								 <th>ID</th>
								 <th>Nome Vendedor</th>
								 <th>Id Vendas</th>
							 </tr> 
						</thead> 
						<tbody>
							<tr th:each="vendedor: ${vendedores}" >
								<td th:text="${vendedor.Id}"></td>
								<td th:text="${vendedor.Nome}"></td>
								<td th:text="${vendedor.Idvend}"></td>
							</tr>
						</tbody>
   </table>
</body>
